<tool name="WinRegSimple">  <version>1.2.1</version>  <date>2019-12-01</date>  <container>#.WinRegSimple</container>  <needs>    <script>APLTreeUtils</script>    <script>FilesAndDirs</script>    <script>OS</script>    <script development="true">Tester2</script>  </needs>  <autoload>1</autoload>  <buildid>9</buildid>  <scriptOnly>1</scriptOnly></tool>