<tool name="WinRegSimple">  <version>1.1.2</version>  <date>2019-11-09</date>  <container>#.WinRegSimple</container>  <needs>    <script>APLTreeUtils</script>    <script>FilesAndDirs</script>    <script>OS</script>    <script>Tester</script>  </needs>  <autoload>1</autoload>  <buildid>6</buildid>  <scriptOnly>1</scriptOnly></tool>