<tool name="WinRegSimple">  <version>3.0.0</version>  <date>2020-09-21</date>  <container>#.WinRegSimple</container>  <needs>    <script development="true">APLTreeUtils2</script>    <script development="true">FilesAndDirs</script>    <script development="true">OS</script>    <script development="true">Tester2</script>    <script development="true">CodeCoverage</script>  </needs>  <autoload>1</autoload>  <buildid>11</buildid>  <scriptOnly>1</scriptOnly>  <package>1</package>  <desc>Limited set of tools for dealing with the Windows Registry</desc>  <tags>apltree;windows-registry;windows</tags></tool>
